<!DOCTYPE html>
<html lang="{{ site.lang | default: "ja" }}">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://kampachi-percy.github.io/githubpages_test/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ site.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- mathjaxの設定 -->
    <script>
      MathJax = {
          tex: {
              inlineMath: [['$', '$']],
              displayMath: [['$$', '$$'], ['\\[', '\\]'], ['\\(', '\\)']]
          },
          options: {
              skipHtmlTags: [
                  "script",
                  "noscript",
                  "style",
                  "textarea",
                  "pre",
                  "code"
              ]
          }
      };
      </script>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    <!-- mathjaxの設定ここまで -->

  </head>
  <body>
      {{ content }}
  </body>
</html>
